{% extends 'base.html.twig' %}

{% block title %}APISearch{% endblock %}

{% block body %}
    <header>
        <form method="GET">
            <input type="search" name='q' placeholder="Rechercher un fruit..." />
            <input type="submit" value="Valider" />
        </form>
    </header>
{% endblock %}